body{
	font-family: Verdana;
}

#logsList{
	float: left;
	width: 70%;
}

#logsForm{
	float: right;
	width: 30%;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.form{
	display: block;
	margin: 0 auto;
}

.form input{
	display: inline-block;
   	vertical-align: middle;
  	 height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

.form label{
	font-size: 14px;
	width: 50%;
}

.clear{
	clear:both;
}

.message{
	color: #f00;
	font-size: 12px;
}