.table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    border-collapse: collapsed;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

.table {
    width: 100%;
    margin-bottom: 18px;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.dataTables_wrapper {
	width: 90%!important;
}